/* font google da utilizzare */

/* colors 
#f6f6f6 --> White

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'whitney', 'helvetica neue', Arial, Helvetica, sans-serif;
    background-color: white;
    color:black;
    font-size: 15px;
}

   /* .debug {
    border: 1px solid red;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-hero{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.container-invite {
    max-width: 400px;
}
ul {
    list-style: none;
}

h1 {
    padding: 30px;
    font-size: 40px;
}

.h1-invite {
    display: flex;
    height: 86vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    height: 96vh;
}

.bg-grey {
    background-color: #f6f6f6;
}

.bg-blue {
    background-color: #255ee9;
}

.text-blue {
    color: #255ee9;
}
.text-white {
    color: white;
}


/* header */
header ul li a {
    padding: 10px;
    text-decoration: none;
    color: white

}

header ul li a:hover {
    text-decoration: underline;
}


/* main */
.image {
    width: 60%;
}

.image img {
    width: 100%;
}
.content {
    width: 40%
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

p {
line-height: 2em;
/* font-size: 30px; */

}


/* flex */
.flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* .tec {
    flex-direction: column-reverse;
    align-items: center;
} */

.sp-bet {
    justify-content: space-between;
}

.al-it-cent {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


/* footer */
footer {
    background-color: #23272A;
    padding-top: 35px;  

}

.footer-top {
    border-bottom: 1px solid #7288DA;
    justify-content: space-between;
    padding-bottom: 20px;
}

.title-list {
    color: #7288DA;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.title-top-footer {
    color: #7288DA;
    font-size: 30px;
    
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    justify-content: space-between;
    padding-top: 15px;
} 


.blue-title li{
    padding-top: 10px;
}

.title-max-width {
    max-width: 300px;
}

.italy {
    padding-top: 20px;
    width: 30px;
    text-decoration: none;
}
.italiano {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.social {
    padding-top: 10px;
    font-size: 21px;
    justify-content: space-between;
    display: flex;
    max-width: 170px;
    
}

/* button */
.btn {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
}

div.buttons {
    margin-top: 10px;   
    
}

.btn-black{
background-color: black;
color: white;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.place {
    display: inline-block;
    justify-content: center;
}



.btn-purple {
    border-radius: 20px;
    padding: 10px 16px;
    background-color: #7288DA;
    color: white;
    text-decoration: none;
    border-color: transparent;
}

